.banner{
    background: url('../shared/img/loginbg.png') no-repeat top left;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content:center;    
    align-items: center;
    }



/* .banner-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
} */

.banner-content .card {
    width: 35em;
    min-height: 32em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}
.banner-content .card .card-body{ display: flex; justify-content: center;align-items: center; }
/* .banner-content .card .card-body {
    width: 25em;
    margin: auto;
} */
.banner-content .card .card-body .icon-align{
    text-align: center;
}
.banner-content .card img {
    width: 21em;
    margin: auto;
    padding: 0px 20px 20px 20px;
}

.btn-sign-in {
    background-color: #E40521;
    color: #fff;
}

.form-control-custom {
    font-size: 12px;
}


/* Forgot Password CSS */

.f-12 {
    font-size: 12px;
}

.social-icon {
    width: 1em !important;
    margin: 5px !important;
    cursor: pointer;
    padding: 0px !important;
}
@media (max-width: 599px){  
    .banner-content .card{width: 300px;}
    .banner-content .card img{max-width: 100%;height: auto;}
  }