/* Banner Css */
.carousel-img {
    width: 101%;
    height: 100%;
    margin-left: -9px;
    margin-top: -7px;
}
.carousel-indicators{ bottom: 50px; }
#companyLogoSlider .carousel-indicators li{background-color: #424244;}
.carousel-indicators li{
    width: 10px !important;
    border-radius: 60% !important;
    height: 10px !important;
}
.carousel-indicators .active {
    background-color: #E40521 !important;
}
.carousel-caption{
    bottom: 0px;
}
/* .carousel-caption-copy{
    padding-bottom: 50px;
} */
.carousel-caption{
    bottom: 0px;
    position: absolute;
    margin: 0;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.carousel-title{
    font-size: 60px;
    font-weight: 800;
    color: rgba( 255,255, 255, 1 );
}
.carousel-sub-title{
    font-size: 18px;
    font-weight: 500;
}

.nav-sub-menu-img{transition: .3s;}
.nav-sub-menu-img:hover{transform: scale(1.05);}

.right-align-menu-banners{
    display: grid;
    align-items: flex-end;
    justify-content: flex-end;
}
.left-align-menu-banners{
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
}


/* Match,aking Home */
.accordian-title{
    font-weight: 400;
    margin: 0;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.news-title{
    padding: 10px 5px 10px 15px;
    margin-bottom: 0px;
    width: 97%;
}
.news-date, .event-date{ color: #969494; font-size: 12px; }
.download, .visit-website{ font-size: 12px; margin-right: 10px; }
.news-footer{
    height: 40px;
    padding-top: 10px;
    padding-bottom: 15px
}
.select-group{
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    /* height: calc(1.5em + .75rem + 15px); */
    padding: .375rem .75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dropdown-menu-width{ background-color: #fff; width: 100%; }
.dropdown-menu-width .dropdown-item:hover{ background-color: rgba(0, 101, 167, 0.1);}
.drop-down-arrow{
    position: absolute;
    right: 10px;
    padding: 0;
    width: 13px;
}
.selected-option{
    color: rgb(0 0 0 / 30%);
}
.drop-down-arrow-accordion{
    position: absolute;
    right: 15px;
    top: 5px;
    transform: rotate(0deg);
    color: #0065A7;
    font-size: 26px;
}
.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* Find Suppliers and Buyers form */
.form-step-wrap{
    padding: 1rem 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-step-wrap li{ padding: 1rem 3rem; position: relative; }
  .form-step-wrap li.active a{color: #424242;}
  .form-step-wrap li a{
    color: rgba(66,66,66,40%);
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  .form-step-wrap li.active a:before{
    content: '';
    background-image: url(./../shared/img/icon/tick.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -55px;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 9;
    box-shadow: 0 0 30px rgba(116,205,99,30%);
    border-radius: 100px;
    transition: .5s;
  }
  .form-step-wrap li:before{
    content: '';
    height: 1.5px;
    width: 100%;
    background: rgba(66,66,66,30%);
    position: absolute;
    left: -90px;
    bottom: -10px;
    transition: .5s;
  }
  li.first-step:before{
    content: '';
    height: 1.5px;
    width: 190%;
    background: rgba(66,66,66,30%);
    position: absolute;
    left: -283px;
    bottom: -10px;
    transition: .5s;
  }
  li.last-step:before{
    content: '';
    height: 1.5px;
    width: 215%;
    background: rgba(66,66,66,30%);
    position: absolute;
    transition: .5s;
  }
  .form-step-wrap li.active:before{ background: #74CD63; transition: .5s; }
  .all-form-wrap{ 
    width: 60%; 
    margin: 0 auto; 
    box-shadow: 0 0 15px 0 rgba(0,0,0,10%);
    padding: 30px 50px;
    border-radius: 10px;
    margin-top: 3rem;
    background: #fff;
  }
  .form-wrap{ 
    display: none; 
    padding: 0 6rem;
  }
  .form-wrap.active{ display: block;}
  .inner-form-wrap{display: none;}
  .inner-form-wrap.active{display: block;}
  .display-none{ display: none; }
  .next-btn, .services-next-btn{border: 2px solid #0065A7}
  /* .next-btn, .back-btn, .btn-back-company{ width: 6em;} */
  .back-btn, .btn-back-company, .back-skip-btn, .company-previous, .ups-back-btn{
    border-radius: 5px;
    border: 2px solid #0065A7;
    color: #0065A7;
  }
  /* .btn-blue{
    background-color: #0065A7;
  } */
  .p-card-wrapper{border: 2px solid rgba(66,66,66,10%);cursor: pointer;}
  .profile-card{
      border: 2px solid rgba(228, 5, 33, 0.6);
      color: rgba(228, 5, 33, 0.6);
      background: rgba(228,5,33,2%);
  }
  .profile-card .p-card-text{color: rgba(228, 5, 33, 1) !important;}
  .p-card-text{font-weight: 400;color: rgba(66,66,66,70%);;}
  .userType-radio, .interest-check{ opacity: 0; }
  
  .add-company-details, .list-company{
    background-color:rgba(228, 5, 33, 1);
    color: #fff;
    padding: 8px 50px 8px 50px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 9px black;
    box-shadow: 0px 0px 15px -8px black;
    font-size: 0.875rem;
  }
  .skip-company-details, .unlist-company{
    background-color: #fff;
    color: #000;
    padding: 8px 50px 8px 50px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 15px -8px black;
    font-size: 0.875rem;
  }
  .nav-logo{ border-bottom: 1px solid #a8a3a3; }
  
  /* progress bar */
  .progress {
    height: 16px !important;
    background-color: #fac9cf !important;
    border-radius: .50rem !important;
    width: 50vh;
    margin: auto;
  }
  .progress-bar {
    height: 6px !important;
    margin: 5px !important;
    border-radius: 10px !important;
  }
  .progress-title{
    color: #969494;
    font-size: 12px;
  }
  .display-none{
    display: none;
  }
  
  .form-group .dropdown{
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    /* height: calc(1.5em + .75rem + 15px); */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .form-control{border: 2px solid #ced4da;}
  .company-forms{display: none;}
  .company-forms.active{display: block;}
  .single-border-input{
    border-bottom: 2px solid #ced4da !important;
    border: none;
    font-size: 16px;
    padding-left: 0;
    margin-top: 2rem;
  }
  .single-border-input:focus{outline: none;box-shadow:none;}
  .top-ellipse{
    position: absolute;
    top: 0;
    left: 15rem;
    z-index: -1;
    width: 15%;
  }
  .bottom-ellipse{
    position: absolute;
    bottom: -3rem;
    right: 15rem;
    z-index: -1;
    width: 15%;
  }
  .drp-arrow {
    height: 10px;
    position: absolute;
    right: 10px;
    top: 12px;
  }
  .dropdown-toggle::after{display: none;}
  .modal-center-text{
    font-size: 14px;
    color: #424242;
    margin-bottom: 2rem;
    margin-top: .8rem;
  }
  .select-group.dropdown-toggle:focus{box-shadow: none;}
  .form-group .dropdown-menu.show{
    width: 100%;
    margin-left: -15px;
  }
  .dropdown.show .dropdown-item{
    font-size: 0.875rem;
    color: #424244;
    font-weight: 400;
  }
  .close{
    width: max-content;
    z-index: 999;
    right: 15px;
    position: absolute;
    top: 8px;
    font-size: 26px;
  }
  .close:focus{outline: none;}

  /* Dropdown */
.drp-form-group .dropdown, .write-for-us-form .form-control{
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  /* height: calc(1.5em + .75rem + 15px); */
  padding: .375rem .75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.select2-container{width: 100% !important;}
.select2-container--default .select2-selection--multiple{
  border: 2px solid #ced4da;
  padding-right: 2rem;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  border: 2px solid #ced4da;
}
.drp-form-group .dropdown-menu.show{
  width: 100%;
  margin-left: -14px;
}


/* Buyers List */
.scroll-section{
  max-height: 600px;
  overflow-y: hidden;
}
.filters-wrap{
  height: 100%;
  background: #fff;
  padding: 2rem 1rem;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,16%);
}
.filter-btn-wrap{
  height: 50px;
  border-bottom: 1px solid rgba(112,112,112,10%);
}
.filter-btn-wrap span{line-height: 2;}
.search-filter-wrap input{
  border: 2px solid rgba(112,112,112,25%);
  border-radius: 8px;
  padding-right: 1.5rem;
}
.search-filter-wrap i{
  position: absolute;
  right: 0px;
  top: 0px;
  color: #0065A7;
  cursor: pointer;
  padding: 9px;
}
.search-filter-wrap i:hover{
  color: rgba(0, 101, 167, 70%);
  transform: scale(1.1);
}
.form-group .dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  /* height: calc(1.5em + .75rem + 15px); */
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid rgba(112,112,112,25%);
  border-radius: 8px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.drp-arrow {
  height: 10px;
  position: absolute;
  right: 10px;
  top: 12px;
}
.dropdown-toggle::after{display: none;}
.btn.focus, .btn:focus{box-shadow: none;}
.form-group .dropdown-menu.show{
  /* transform: translate3d(0px, 34px, 0px) !important; */
  margin-left: -15px;
  width: 100%;
}
.dropdown.show .dropdown-item{
  font-size: 0.875rem;
  color: #424244;
  font-weight: 400;
}
.alphabet-filter{display: grid;}
.alphabet-filter .box {
  float: left;
  width: max-content;
  border: 1px solid #0065A7;
  background: rgba(0,101,167,5%);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #0065A7;
  padding: 5px 11px;
}

.alphabet-filter.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.alphabets-box-wrap span{width: 30px !important; padding: 5px !important;}
.alphabet-filter span:hover{
  background: #0065A7;
  color: #fff;
  cursor: pointer;
}
.comp-card-wrap{
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 6px 0 rgba(0,0,0,16%);
  border-radius: 5px;
  margin-bottom: 30px;
}
.comp-card-wrap img, .comp-card-wrap button{width: 100%;}
.comp-card-wrap button{border-top-left-radius: 0;border-top-right-radius: 0;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}

.buyers-image{
  height: 190px;
  width: 100%;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.buyer-info-wrap{
  border-top: 1px solid rgba(66,66,66,10%);
  padding: 5px 10px;
}
.buyer-info-wrap h6{
  background: lavender;
  text-align: center;
  padding: 3px 0;
}

/* Pagination */
.pagination .page-link{padding: .5rem .9rem;border-radius: 3px;border: 1.8px solid #0065A7;color: #0065A7;}
.pagination .page-link i{font-size: 18px;}
.pagination .page-item.active .page-link{
  background-color: #0065A7;
  border-color: #0065A7;
}
.first-link, .last-link{
  background: rgba(0, 101, 167, 5%);
  color: #0065A7;
}
.first-link:hover, .last-link:hover{background: #0065A7;color: #fff;}
.pagination .page-link:hover{
  background: #0065A7;
  color: #fff;
}

/*  */
.owl-carousel .owl-item{padding: 3rem;}
.owl-carousel button.owl-dot{
    border-radius: 50px;
    width: 10px;
    height: 10px;
    background: rgba(66, 66, 66, 50%);
    border: none;
    padding: 6px !important;
    margin: 0 5px;
}
.owl-carousel button.owl-dot.active{background: #E40521;}
.owl-dots{text-align: center;}

.text-ellipses{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}