/* ~~~~~~~~~~Profile Settings~~~~~~~~~~ */
.profile-nav-wrapper{
    /* background: rgba(66, 66, 66,0.04); */
    padding-bottom: 4rem;
    position: relative;
    /* height: 100vh; */
  }
  .img-ellipse{
    position: absolute;
    bottom: 10px;
    left: 0;
  }
  .img-ellipse2{
    position: absolute;
    top: 0;
    right: 49px;
    width: 267px;
  }
  .profile-nav-pills{
    background: rgba(255,255,255,1);
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 9%);
    padding: 0 11rem;
  }
  .profile-nav-pills .nav-item{margin-right: 5rem;}
  .profile-nav-pills .nav-link{color: rgba(66,66,66,0.8);padding: 1rem;position: relative;transition: 0.5s;}
  .profile-nav-pills .nav-link.active{
    background: #fff;
    color: #0065A7;
    position: relative;
  }
  .profile-nav-pills .nav-link.active::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: #0065A7;
    bottom: 0;
    left: 0;
  }
  .profile-nav-pills .nav-link:hover{
    color: #0065A7;
  }
  .profile-nav-pills .nav-link:hover::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: #0065A7;
    bottom: 0;
    left: 0;
  }
  .profile-nav-wrapper .tab-content{
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 11%);
    width: 80%;
    margin: 1rem auto;
    padding: 1rem 3rem;
    border-radius: 5px;
  }